.contenedor{
    margin: 0 auto;
    width: 80%;
    background-color: rgb(255, 205, 205);
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(90, 90, 90);
}

.izquierda{
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    width: 300px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
}

.derecha{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#foto{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
}


@media screen and (min-width: 800px) {
    .contenedor{
        display: flex;
    }
  }

